public/integrations/n8n-lead-workflow.json
{
  "name": "AIリード対応ワークフロー - Lead Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-lead-ops",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b1a1f001-0000-4000-8000-000000000001",
      "name": "Webhook: 問い合わせ受信",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 400],
      "webhookId": "ai-lead-ops"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "company_name", "value": "={{ $json.company_name }}" },
            { "name": "contact_name", "value": "={{ $json.contact_name }}" },
            { "name": "email", "value": "={{ $json.email }}" },
            { "name": "source", "value": "={{ $json.source }}" },
            { "name": "category", "value": "={{ $json.category }}" },
            { "name": "lead_score", "value": "={{ $json.lead_score }}" },
            { "name": "urgency", "value": "={{ $json.urgency }}" },
            { "name": "summary", "value": "={{ $json.summary }}" },
            { "name": "recommended_action", "value": "={{ $json.recommended_action }}" },
            { "name": "reply_draft", "value": "={{ $json.reply_draft }}" },
            { "name": "created_at", "value": "={{ $json.created_at }}" }
          ]
        },
        "options": {}
      },
      "id": "b1a1f001-0000-4000-8000-000000000002",
      "name": "Set: 項目整形",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.lead_score }}",
              "operation": "equals",
              "value2": "高"
            }
          ]
        }
      },
      "id": "b1a1f001-0000-4000-8000-000000000003",
      "name": "IF: 高見込みリード?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.LEAD_SHEET_ID }}",
        "sheetName": "問い合わせ一覧",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "日時": "={{ $json.created_at }}",
            "会社名": "={{ $json.company_name }}",
            "担当者": "={{ $json.contact_name }}",
            "メール": "={{ $json.email }}",
            "流入元": "={{ $json.source }}",
            "カテゴリ": "={{ $json.category }}",
            "見込み度": "={{ $json.lead_score }}",
            "緊急度": "={{ $json.urgency }}",
            "要約": "={{ $json.summary }}",
            "推奨対応": "={{ $json.recommended_action }}"
          }
        }
      },
      "id": "b1a1f001-0000-4000-8000-000000000004",
      "name": "Google Sheets: 1行追加",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [920, 320]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": "={{ $env.SLACK_CHANNEL_ID }}",
        "text": "=:fire: *高見込みリード*\n会社名: {{ $json.company_name }}\nカテゴリ: {{ $json.category }} / 緊急度: {{ $json.urgency }}\n要約: {{ $json.summary }}\n推奨対応: {{ $json.recommended_action }}",
        "otherOptions": {}
      },
      "id": "b1a1f001-0000-4000-8000-000000000005",
      "name": "Slack: 高見込み通知(強調)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1160, 240]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": "={{ $env.SLACK_CHANNEL_ID }}",
        "text": "=新規問い合わせ\n会社名: {{ $json.company_name }} / 流入元: {{ $json.source }}\nカテゴリ: {{ $json.category }} / 見込み度: {{ $json.lead_score }}\n要約: {{ $json.summary }}",
        "otherOptions": {}
      },
      "id": "b1a1f001-0000-4000-8000-000000000006",
      "name": "Slack: 通常通知",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [920, 520]
    },
    {
      "parameters": {},
      "id": "b1a1f001-0000-4000-8000-000000000007",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 700]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": "={{ $env.SLACK_ADMIN_CHANNEL_ID }}",
        "text": "=:warning: ワークフローでエラー\nワークフロー: {{ $json.workflow.name }}\nノード: {{ $json.execution.lastNodeExecuted }}\nエラー: {{ $json.execution.error.message }}",
        "otherOptions": {}
      },
      "id": "b1a1f001-0000-4000-8000-000000000008",
      "name": "Slack: 管理者へエラー通知",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [460, 700]
    }
  ],
  "connections": {
    "Webhook: 問い合わせ受信": {
      "main": [[{ "node": "Set: 項目整形", "type": "main", "index": 0 }]]
    },
    "Set: 項目整形": {
      "main": [[{ "node": "IF: 高見込みリード?", "type": "main", "index": 0 }]]
    },
    "IF: 高見込みリード?": {
      "main": [
        [
          { "node": "Google Sheets: 1行追加", "type": "main", "index": 0 },
          { "node": "Slack: 高見込み通知(強調)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Google Sheets: 1行追加", "type": "main", "index": 0 },
          { "node": "Slack: 通常通知", "type": "main", "index": 0 }
        ]
      ]
    },
    "Error Trigger": {
      "main": [[{ "node": "Slack: 管理者へエラー通知", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "AIリード対応" }]
}
